@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* فونت فارسی */
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazir.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Vazirmatn", sans-serif;
}
